<!-- Header !-->
<div class="modal-header">
  <h3 class="modal-title">Delete FBL</h3>
</div>
<!-- Body !-->
<div class="modal-body delete-modal">
  <div class="form-group">
    <label class="control-label">Why do you want to delete this fbl ?</label>
    <textarea name="comment" class="form-control" rows="5" maxlength="1000" ng-model="comment"></textarea>
    <div ng-messages="fblForm.comment.$error"><div ng-messages-include="partials/form-errors.html"></div></div>
  </div>
</div>
<!-- Footer !-->
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
  <button class="btn btn-default" type="button" ng-click="deleteFbl()">Confirm</button>
</div>
