<!-- ADD FBL !-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>{{ title }}</h4>
  </div>
  <form class="form-horizontal" name="fblForm" ng-submit="submit()" novalidate>
    <div class="form-group">
      <label class="col-sm-2 control-label">FBL name :</label>
      <div class="col-sm-8">
        <input name="fblname" class="form-control" type="text" minlength="5" maxlength="255" ng-model="name" ng-required="true" />
        <div ng-messages="fblForm.fblname.$error"><div ng-messages-include="partials/form-errors.html"></div></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Description :</label>
      <div class="col-sm-8">
        <textarea name="description" class="form-control" rows="5" maxlength="1000" ng-model="description"></textarea>
        <div ng-messages="fblForm.description.$error"><div ng-messages-include="partials/form-errors.html"></div></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Points :</label>
      <div class="col-sm-8">
        <input name="points" class="form-control" type="number" ng-required="true" min="0" step="1" ng-model="points" pattern="\d*" />
        <div ng-messages="fblForm.points.$error"><div ng-messages-include="partials/form-errors.html"></div></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">M.d. :</label>
      <div class="col-sm-8">
        <input name="md" class="form-control" type="number" ng-required="true" min="0" step="1" ng-model="md" pattern="\d*" />
        <div ng-messages="fblForm.md.$error"><div ng-messages-include="partials/form-errors.html"></div></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Risk :</label>
      <div class="col-sm-8">
        <input name="risk" class="form-control" type="number" ng-required="true" min="0" step="1" ng-model="risk" pattern="\d*" />
        <div ng-messages="fblForm.risk.$error"><div ng-messages-include="partials/form-errors.html"></div></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Estimate m.d :</label>
      <div class="col-sm-8">
        <input name="estimatemd" class="form-control" type="number" ng-required="true" min="0" step="1" ng-model="estimateMd" pattern="\d*" />
        <div ng-messages="fblForm.estimatemd.$error"><div ng-messages-include="partials/form-errors.html"></div></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Probability :</label>
      <div class="col-sm-8">
        <select name="proba" class="form-control" id="proba" ng-required="true" ng-model="proba">
          <option ng-repeat="possibility in possibleProbas">{{ possibility }}</option>
        </select>
        <div ng-messages="fblForm.proba.$error"><div ng-messages-include="partials/form-errors.html"></div></div>
        <!-- INPUT VERSION :  <input class="form-control" type="number" ng-required="true" min="0" max="100" step="10" ng-model="probability" pattern="\d*" /> -->
      </div>
    </div>
    <div class="form-group center">
      <a class="btn btn-default" href="#/pi/{{pi_number}}/fbl/all" role="button">Cancel</a>
      <input class="btn btn-default" type="submit" formmethod="post" id="submit" value="Submit" ng-disabled="fblForm.$invalid" />
    </div>
  </form>
</div>
<!-- END ADD FBL !-->

