<!-- FBL LIST !-->
<div class="panel panel-default">
  <!-- Title !-->
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-6 left">
        <h4>{{ title }}</h4>
      </div>
      <div class="col-sm-6 right">
        <h4><a href="#/pi/{{pi_number}}/fbl/add" title="add" class=" glyphicon glyphicon-plus-sign"></a></h4>
      </div>
    </div>
  </div>
  <!-- Beginning table !-->
  <table class="table center">
    <thead>
    <tr>
      <th class="col-sm-5">FBL</th>
      <th class="center col-sm-1">Points</th>
      <th class="center col-sm-1">M.D</th>
      <th class="center col-sm-1">Risk</th>
      <th class="center col-sm-2">Estimate M.D</th>
      <th class="center col-sm-3"></th>
    </tr>
    </thead>
    <tbody ng-repeat="fbl in fblsCopy | orderBy: ['-probability', 'fbl_id']">
    <!-- FBL list !-->
    <tr ng-class="{success: fbl.probability === 1, warning: fbl.probability === 0.5, danger: fbl.probability === 0.2}" ng-show="fbl.probability !== 0">
      <!-- FBLs values !-->
      <th scope="row"><a ng-href="#/pi/{{pi_number}}/fbl/{{fbl.fbl_id}}/details" title="edit">{{fbl.fbl_name}}</a></th>
      <td><div click-to-edit-nbr type="inputNumber" ng-model="fbl.points" ng-class="{changedValue: roundValue(fbl.points) !== fbls[$index].points}"></div></td>
      <td><div click-to-edit-nbr type="inputNumber" ng-model="fbl.md" ng-class="{changedValue: roundValue(fbl.md) !== fbls[$index].md}"></div></td>
      <td><div click-to-edit-nbr type="inputNumber" ng-model="fbl.risk" ng-class="{changedValue: roundValue(fbl.risk) !== fbls[$index].risk}"></div></td>
      <td><div click-to-edit-nbr type="inputNumber" ng-model="fbl.estimate_md" ng-class="{changedValue: roundValue(fbl.estimate_md) !== fbls[$index].estimate_md}"></div></td>
      <!-- FBLs options !-->
      <td>
        <a href="#/pi/{{pi_number}}/fbl/{{fbl.fbl_id}}/history" title="history" class="glyphicon glyphicon-time"></a>
        <a href="#/pi/{{pi_number}}/fbl/{{fbl.fbl_id}}/move" title="move" class="glyphicon glyphicon-share"></a>
        <a href="" title="delete" class="glyphicon glyphicon-remove-circle" ng-click="dfOpen(fbl.fbl_id)"></a>
      </td>
    </tr>
    <!-- Total and balanced total !-->
    <tr ng-show="fbl.probability === 0">
      <th scope="row">{{ fbl.fbl_name }}</th>
      <td>{{ fbl.points }}</td>
      <td>{{ fbl.md }}</td>
      <td>{{ fbl.risk }}</td>
      <td>{{ fbl.estimate_md }}</td>
      <td></td>
    </tr>
    </tbody>
  </table>
  <!-- End table !-->
</div>
<center>
  <a class="btn btn-default" href="" role="button" title="back" ng-click="haveChanged('sm')">Back</a>
  <span class="btn btn-default" role="button" title="cancel" ng-click="cancelChanges()">Cancel changes</span>
  <a class="btn btn-default" href="" role="button" title="validate" ng-click="sfcOpen('lg')">Validate changes</a>
</center>

<!-- END FBL LIST !-->
