<!-- PROJECT LIST !-->
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-6 left">
        <h4>Projects</h4>
      </div>
      <div class="col-sm-6 right">
        <h4><span class="glyphicon glyphicon-plus-sign"></span></h4>
      </div>
    </div>
  </div>
  <div class="list-group">
    <div class="list-group-item">
      <div class="row">
        <div class="col-sm-6 left">
          <h4 class="list-group-item-heading">Project01</h4>
          <p class="list-group-item-text">20 April, 2015</p>
        </div>
        <div class="col-sm-6 right">
          <span class="glyphicon glyphicon-wrench"></span>
          <span class="glyphicon glyphicon-remove-circle"></span>
        </div>
      </div>
    </div>
    <div class="list-group-item">
      <div class="row">
        <div class="col-sm-6 left">
          <h4 class="list-group-item-heading">Project02</h4>
          <p class="list-group-item-text">16 December, 2015</p>
        </div>
        <div class="col-sm-6 right">
          <span class="glyphicon glyphicon-wrench"></span>
          <span class="glyphicon glyphicon-remove-circle"></span>
        </div>
      </div>
    </div>
    <div class="list-group-item">
      <div class="row">
        <div class="col-sm-6 left">
          <h4 class="list-group-item-heading">Project03</h4>
          <p class="list-group-item-text">04 March, 2016</p>
        </div>
        <div class="col-sm-6 right">
          <span class="glyphicon glyphicon-wrench"></span>
          <span class="glyphicon glyphicon-remove-circle"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END PROJECT LIST !-->
